<h3>Create new Game</h3>
<hr>
<%= form_for @game do |form| %>
  <div id="error_container_id"></div>
  <%= form.hidden_field :user_id %>
  No.of rowcol <%= form.text_field :rowcols %>
  <br>
  <br>
  <%= form.fields_for :players do |player| %>
    <%= player.hidden_field :user_id %>
    <%= player.hidden_field :sign %>
    Player Name <%= player.text_field :name %>
  <% end %>
  <br>
  <br>
  <%= submit_tag 'Save' %> | <%= link_to 'Cancel', games_path %>
<% end %>